<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif Verdana, sans-serif;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <h1>Login</h1>
    <form method="post" action="/user/login">
        <label>Email</label>
        <input type="text" required name="email" fullPath="email" />
        <label>Password</label>
        <input type="text" required name="password" fullpath="password" />
        <button type="submit">Login</button>
    </form>

</body>

</html>